<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error page</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul class="nav-container">
                <li class="nav-links"><a class="active"  href="shop.html">shop</a></li>
                <li class="nav-links"><a class="active"  href="products.html">products</a></li>
                <li class="nav-links"><a class="active"  href="cart.html">cart</a></li>
                <li class="nav-links"><a class="active"  href="orders.html">orders</a></li>
                <li class="nav-links"><a class="active"  href="add-product.html">Add Product</a></li>
                <li class="nav-links"><a class="active"  href="admin-products.html">Admin Products</a></li>
            </ul>
        </nav>
    </header>
    <h1>page not found....</h1>
    <script src="../public/js/index.js">

    </script>
</body>
</html>